{% extends "layouts/layout.html" %}
{% block title %}爱家-个人信息{% endblock %}
{% block head_son %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}
{% block navbar %}{% endblock %}
<div class="container">
    {% block page_content %}
        <div class="top-bar">
            <div class="nav-bar">
                <h3 class="page-title">个人信息</h3>
                <a class="nav-btn fl" href="{{ url_for('api.user_index') }}"><span><i class="fa fa-angle-left fa-2x"></i></span></a>
            </div>
        </div>
        <div class="menus-con">
            <ul class="menus-list">
                <li>
                    <div class="menu-title">
                        <h3>头像</h3>
                    </div>
                    <div class="menu-content">
                        {% if user_info.avatar_url %}
                            <img src="{{ user_info.avatar_url }}" alt="用户图片" class="now_user_pic">
                        {% else %}
                            <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1167581125,229415827&fm=26&gp=0.jpg" alt="用户图片" class="now_user_pic">
                        {% endif %}
{#                        <img id="user-avatar" src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1167581125,229415827&fm=26&gp=0.jpg">#}
                        <div class="menu-text">
                            <form id="form-avatar">
                                选择头像：<input type="file" name="avatar">
                                <!--<input type="hidden" id="avatar_xsrf" name="_xsrf" value="">-->
                                <input type="submit" class="btn btn-success" value="上传">
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="menu-title">
                        <h3>用户名</h3>
                    </div>
                    <div class="menu-content">
                        <form id="form-name" action="/api/profile/name" method="post">
                            <input type="text" name="name" id="user-name" value="{{ user_info.name }}">
                            <input type="submit" class="btn btn-success" value="保存">
                        </form>
                        <div class="error-msg"><i class="fa fa-exclamation-circle"></i>用户名已存在，请重新设置</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="popup_con">
            <div class="popup">
                <p>保存成功！</p>
            </div>

            <div class="mask"></div>
        </div>
    {% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/profile.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.form.min.js') }}"></script>
{% endblock %}
</div>