{% extends "bootstrap/base.html" %}

{% block title %}爱家{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/swiper/css/swiper.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='plugins/swiper/js/swiper.jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/template.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/common.js') }}"></script>
    {% block head_son %}{% endblock %}
    <script>
        var jsroot = "{{ constants.HOME_URL }}";
    </script>
{% endblock %}
{% block navbar %}
    <div class="container">
    <div class="top-bar">
        <img class="logo fl" src="{{ url_for('static',filename='images/logo.png') }}">
        {% if current_user.is_authenticated %}
            <div class="user-info fr"><span><i class="fa fa-user fa-lg"></i></span> <a class="user-name" href="{{ url_for('api.user_index') }}">{{ current_user.name }}</a>
            </div>
        {% else %}
            <div class="register-login fr">
                <a class="btn top-btn btn-theme" href="{{ url_for('auth.register_view') }}">注册</a>
                <a class="btn top-btn btn-theme" href="{{ url_for('auth.login_view') }}">登录</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block content %}
    {% block page_content %}{% endblock %}
    {% block footer %}
        <div class="footer">
            <p><span><i class="fa fa-copyright"></i></span>爱家租房&nbsp;&nbsp;享受家的温馨</p>
        </div>
    {% endblock %}
{% endblock %}
</div>
{% block scripts %}{% endblock %}