{% extends "layouts/layout.html" %}
{% block title %}爱家-房间信息{% endblock %}
{% block head_son %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}
{% block navbar %}{% endblock %}
{% block page_content %}
<div class="container">
        <div class="top-bar">
            <div class="nav-bar">
                <h3 class="page-title">房间信息</h3>
                <a class="nav-btn fl" href="javascript:void(0);" onclick="hrefBack();"><span><i class="fa fa-angle-left fa-2x"></i></span></a>
            </div>
        </div>
        <div class="swiper-container">
            <ul class="swiper-wrapper">
                {% for item in data.house.img_urls %}
                     <li class="swiper-slide"><img src="{{item}}"></li>
                {% endfor %}
            </ul>
            <div class="swiper-pagination"></div>
            <div class="house-price">￥<span>{{ '%.2f'| format(data.house.price/100) }}</span>/晚</div>
        </div>
        <div class="detail-con">
        </div>
            <div class="detail-header layout-style">
                <h2 class="house-title">{{data.house.title}}</h2>
                <div class="landlord-pic"><img src="{{data.house.user_avatar}}"></div>
                <h2 class="landlord-name">房东： <span>{{data.house.user_name}}</span></h2>
            </div>
            <div class="house-info layout-style">
               <h3>房屋地址</h3>
               <ul class="house-info-list text-center">
                    <li>{{data.house.address}}</li>
               </ul>
            </div>
            <ul class="house-type layout-style">
                <li>
                    <span class="icon-house"></span>
                    <div class="icon-text">
                        <h3>出租{{data.house.room_count}}间</h3>
                        <p>房屋面积:{{data.house.acreage}}平米</p>
                        <p>房屋户型:{{data.house.unit}}</p>
                    </div>
                </li>
                <li>
                    <span class="icon-user"></span>
                    <div class="icon-text">
                        <h3>宜住{{data.house.capacity}}人</h3>
                    </div>
                </li>
                <li>
                    <span class="icon-bed"></span>
                    <div class="icon-text">
                        <h3>卧床配置</h3>
                        <p>{{data.house.beds}}</p>
                    </div>
                </li>
            </ul>
            <div class="house-info layout-style">
                <h3>房间详情</h3>
                <ul class="house-info-list">
                    <li>收取押金<span>{{ '%.2f' | format(data.house.deposit/100)}}</span></li>
                    <li>最少入住天数<span>{{data.house.min_days}}</span></li>
                    <li>最多入住天数<span>{% if data.house.max_days == 0 %}无限制 {% else %}{{ data.house.max_days }}{% endif %}</span></li>
                </ul>
            </div>
            <div class="house-facility layout-style">
                <h3>配套设施</h3>
                <ul class="house-facility-list clearfix">
                      {% for item in params. specification_list %}
                          <li><span class="{% if data.house.facilities[loop.index0] == item.id %}{{ item.class }}{% else %}jinzhi-ico{% endif %}"></span>{{ item.specification_name }}</li>
                      {% endfor %}
                </ul>
            </div>
            {% if data.house.comments %}
            <div class="house-info layout-style">
                <h3>评价信息</h3>
                <ul class="house-comment-list">
                    {% for comment in data.house.comments%}
                        <li>
                            <p>{{comment.user_name}}<span class="fr">{{comment.ctime}}</span></p>
                            <p>{{comment.comment}}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if current_user.is_anonymous %}
                    <a class="book-house" href="javascript:void(0);" onclick="reservation({{ data.house.hid }})">即刻预定</a>
            {% else: %}
                {% if current_user.id != data.house.user_id %}
                    <a class="book-house" href="javascript:void(0);" onclick="reservation({{ data.house.hid }})">即刻预定</a>
            {% endif %}
            {% endif %}
{% endblock %}
{% block scripts %} <script type="text/javascript" src="{{ url_for('static',filename='js/detail.js') }}"></script>{% endblock %}
</div>